<%= form_for @article do |f| %>
  <fieldset>
    <section>
      <label><%= f.text_field :title, label: false, placeholder: "这里输入标题..."%></label>
    </section>
    <section>
    <%= f.text_area :content, id: "article_content", :type=> 'hidden' %>
    </section>
    <section>
      <%= f.select :category_id, options_for_select(Category.all.map { |c| [c.name, c.id] } )%>
    </section>
    <section>
      <label><strong>Public? </strong></label>
      <%= f.check_box :is_public, {}, 'true', 'false'%>
    </section>
    <section class="pull-right">
      <%= f.submit '提交', class: 'submit' %>
    </section>
  </fieldset>
<% end %>

<!-- Initialize the editor. -->
<script type="text/javascript">
  var editor = new Simditor({
    textarea: $('#article_content'),
    toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', 'link','image', '|','hr','indent','outdent','alignment','fullscreen'],
    placeholder: '这里输入文字...',
    pasteImage: true,
    fileKey: 'file',
    upload: {
      url: '/photos',
      params: null,
      connectionCount: 3,
      leaveConfirm: 'Uploading is in progress, are you sure to leave this page?'
    }
  });
</script>