

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <%= link_to("我要写文章", new_article_path , class: "btn btn-lg btn-default btn-block btn-success") %>
        </div>
    </div>
</div>

<%= render 'article_nav' %>

<!-- Blog Post Row -->
<% @articles.each do |article| %>
  <div class="row">
      <div class="col-md-1 text-center">
        <p><i class="fa fa-camera fa-4x"></i>
        </p>
        <p><%= article.created_at.strftime("%B, %d, %Y") %></p>
      </div>
      <div class="col-md-5">
        <%= link_to article do %>
          <%= image_tag("article.png", class: "img-responsive img-hover") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h3>
          <%= link_to( article.title, article_path(article) ) %>
        </h3>
        <p>
          by <%= article.user.username %>
        </p>
        <p><%= raw article.content %></p>          
        <%= link_to("Read More", article_path(article) , class: "btn btn-primary") %>
      </div>
  </div>

  <hr>
<% end %>
<!-- /.row -->

<!-- Pager -->
<div class="row">
  <ul class="pager">
    <li class="previous"><a href="#">&larr; Older</a>
    </li>
    <li class="next"><a href="#">Newer &rarr;</a>
    </li>
  </ul>
</div>
<!-- /.row -->

<hr>
